<h1>Sign Up</h1>
<%= form_for :user, url: "/users" do |f| %>
    <%= f.label_for :name, "Username" %>
    <%= f.text_field :name %>
    <%= f.label_for :password, "Password" %>
    <%= f.password_field :password %>
    <%= f.label_for :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign Up" %>
<% end %>